body {
    margin: 0;
    padding: 0;
    background-color: #e41394ba;
    font-family: 'Arial';
}

h2 {
    text-align: center;
    color: #101111;
}

h2.title {
    padding-top: 10px;
    padding-bottom: 40px;
}

h2.tabletitle {
    color: #d8d8d8;
    margin-block: 0;
    padding-bottom: 20px;
}

label {
    color: #d8d8d8;
    font-size: 20px;
}

button {
    background-color: #b11870;
    color:#d8d8d8;
    border: 5px solid #b11870;
    border-radius: 3px;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: 10px;
    margin-right: 10px;
}

div.home {
    width: 60%;
    padding: 40px;
    border-radius: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;
    background-color: #101111;
}

div.spacer {
    height: 20px;
}

table {
    margin: auto;
    width: 80%;
    border: 5px solid #d8d8d8;
    border-radius: 3px;
    background-color: #d8d8d8;
}

th {
    color: #d8d8d8;
    padding: 5px;
    background-color: #b11870;
}

td {
    border: 2px solid #ae849d;
    color: #101111;
}

.login {
    width: 400px;
    overflow: hidden;
    margin: auto;
    margin: 0 20 0 400px;
    padding: 80px;
    background: #101111;
    border-radius: 40px;
}

#username {
    width: 380px;
    height: 30px;
    border: none;
    border-radius: 3px;
    padding-left: 8px;
}

#password {
    width: 380px;
    height: 30px;
    border: none;
    border-radius: 3px;
    padding-left: 8px;
}

#log {
    width: 390px;
    height: 40px;
    border: none;
    border-radius: 10px;
    padding-left: 0px;
    color: #d8d8d8;
    background-color: #e41394ba; 
    cursor: pointer; 
}

button:hover {
    border: 5px solid #d8d8d8;
    background-color: #d8d8d8;
    color: #e41394ba;
    cursor: pointer;
}

#log:hover {
    background-color: #d8d8d8;
    color: #e41394ba;
}